//    carousel-vision start

.vision {
    
    @media screen and (max-width: $break_sm){
        padding-top: 71px;
    }
    
    .carousel {
        position: relative;
        z-index: 20;
    }
    .item {
        position: relative;
        
        img {
            width: 100%; 
            height: auto;
        }
    }

    .slide-1 {color: $electric-blue;}
    .slide-2 {color: $persian_red;}
    .slide-3 {color: $pistachio;}

    .caption {
        display: inline-flex;
        padding: 24px 38px;
        background-color: rgba($white,0.3);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @media screen and (max-width: $break_sm){
            position: relative;
            top: 0;
            left: 50%;
            transform: none;
            margin-left: -135px;
        }

        .text-left {
            text-align: right;

            h3 {
                font-size: 3vw;
                font-weight: 300;
                line-height: 50px;
                letter-spacing: 1px;
                word-spacing: 4px;
                text-transform: uppercase;
                
                @media screen and (max-width: $break_lg){
                    font-size: 2.5vw;
                    line-height: 45px;
                }
                @media screen and (max-width: $break_md){
                    line-height: 33px;
                }
                @media screen and (max-width: $break_sm){
                    font-size: 16px;
                    line-height: 15px;
                }

                span {text-transform: none;}
            }
        }

        .text-right {
            h1 {
                font-size: 7.5vw;
                font-weight: 800;
                line-height: 100px;
                text-transform: uppercase;
                letter-spacing: -5px;
                margin: 0 0 0 10px;
                
                @media screen and (max-width: $break_lg){
                    font-size: 8.5vw;
                    line-height: 85px;
                }
                @media screen and (max-width: $break_md){
                    font-size: 7.5vw;
                    line-height: 65px;
                }
                @media screen and (max-width: $break_sm){
                    font-size: 34px;
                    line-height: 30px;
                    letter-spacing: -2px;
                }
            }
        }
    }
    .slick-arrow {
        font-size: 100px;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        cursor: pointer;
        color: $white;
        opacity: 0.6;
        transition: $transition;
        
        @media screen and (max-width: $break_sm){
            font-size: 50px;
        }

        &:hover {opacity: 1;}
    }
    .fa-angle-right {
        right: 10px;
    }
    .fa-angle-left {
        left: 10px;
        z-index: 20;
    }
    .slick-dots {
        bottom: 90px;
        
        @media screen and (max-width: $break_sm){
            bottom: 90px;
        }
    }
    .slick-dots li {
        margin: 0 20px;
        
        @media screen and (max-width: $break_sm){
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
        
        button {
            background: $white;
            border-radius: 50%;
            
            @media screen and (max-width: $break_sm){
                width: 10px;
                height: 10px;
            }
        
            &:before {
                content: "";
            }
        }
    }
    .slick-dots li.slick-active button {background: $electric-blue;}
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    button {
        margin: 0;
        position: static;
    }
}

//    carousel-vision end