//    header start

//.default {
//    position: absolute;
//    top: 0;
//    z-index: 1000;
//    width: 100%;
//    
//    @media screen and (max-width: $break_sm){
//        border-bottom: 1px solid $white;
//        padding: 0 0 10px;
//    }
//}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    
    @media screen and (max-width: $break_sm){
        background-color: rgba($black,0.3);
        border-bottom: 1px solid $white;
        padding: 0 0 10px;
    }
}
//.transbg {background-color: transparent;}

.navbar {
    @include row-flex();
    @include justify-content(space-between);
    
    @media screen and (max-width: $break_sm){
       @include flex-direction(column);
    }
}

#logo {
    color: $white;
    font-family: $font-family-logo;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    margin: 17px 0 0 12px;
    
    @media screen and (max-width: $break_sm){
        margin: 0 0 0 10px;
        width: 25%;
    }
}

.navlist {
    display: flex;
    margin-right: -13px;
    
    @media screen and (max-width: $break_lg){
        margin-right: 10px;
    }
    
    @media screen and (max-width: $break_sm){
        display: none;
        margin-right: 0;
    }
    
    li + li {
        margin-left: 6px;
        
        @media screen and (max-width: $break_sm){
           margin-left: 0;
        }
    }
    
    li {
        @media screen and (max-width: $break_sm){
            text-align: center;
            margin: 5px 0;
        }
        
        a {
            display: block;
            color: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 47px;
            text-decoration: none;
            letter-spacing: -0.1px;
            padding: 25px 25px 0;
            border-radius: 0 0 4px 4px;
            transition: $transition;
            
            @media screen and (max-width: $break_sm){
                padding: 0 15px;
                border-radius: 0;
            }
            
            &:hover {background-color: $electric-blue;}
        }
        
        .is-active {background-color: $electric-blue;}
    }
}

button {
    display: none;
    margin: 0 10px; 
    border: none; 
    background: none; 
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
    
    @media screen and (max-width: $break_sm){
        display: block;
    }
    
    span {display: block;}
}

.grid-button {
    padding: $base*2;
    cursor: pointer;
    user-select: none;
}

.grid-button {
    .grid {
        width: $base;
        height: $base;
        background: $color;
        color: $color;
        transition: $transition;
    }
}

.grid-button.close {
    .grid {
        -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8);
        transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8);
    }
}

.grid-button.collapse {
    .grid {
        box-shadow: -($base+$space) 0, -($base+$space) ($base+$space), $base+$space 0, ($base+$space) (-($base+$space)), 0 0 -($base+$space), -($base+$space) 0 -($base+$space), 0 ($base+$space), ($base+$space) ($base+$space);
    }
}

.grid-button.collapse.close {
    .grid {
        box-shadow: -$base 0, 0 0 transparent, $base 0, 0 0 transparent, 0 0 -$base, 0 0 transparent, 0 $base, 0 0 transparent;
    }
}
//    header end