//    services start

.bg-services {
    position: relative;
    background-color: $persian_red;
    color: $white;
    
    &::before {
        @include section-before;
        background-size: contain;
        background-position: center;
        top: -20%;
        left: 0;
        background-image: url('../img/overlay-services.png');
        
        @media screen and (max-width: $break_sm){
            content: none;
        }
    }
    
    .title {
        h2 {margin: 0 0 17px;}
    }
    
    .description {
        
        a {
            text-decoration: none;
            color: #ec9da2;
        }
        
        p {color: #ffcccf;}
    }
    
    .row {
        position: relative;
        z-index: 20;
        @include row-flex();
        padding: 105px 0 0;
        margin-bottom: 63px;
        
        .col {
            display: flex;
            @include col-3();
            @include col-lg-6();
            @include col-sm-12();
            background-color: $light-persian_red;
            transition: $transition;
            border-radius: 4px;
            margin: 10px;
        }
    }
    
    .block {
        display: flex;
        @include flex-wrap(wrap);
        @include flex-direction(column);
        @include align-items(center);
        width: 100%;
        padding: 45px 20px 35px;
        box-sizing: border-box;
    }
    
    .subtitle {

        h4 {
            font-size: 30px;
            font-weight: 300;
            line-height: 58px;
            text-transform: uppercase;
            margin-bottom: 28px;
        }
    }

    .text {

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 5px;
        }
    }
    
    .icon-wrap {
        width: 140px;
        height: 140px;
        background-color: $white;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 10px;
        @include row-flex();
        @include justify-content(center);
        @include align-items(center);
        
        div {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 5px solid $light-persian_red;
            margin: -5px;
            @include row-flex();
            @include justify-content(center);
            @include align-items(center);
            
            i {color: $light-persian_red;}
            
            .fa-magic,
            .fa-cogs,
            .fa-rocket {font-size: 70px;}
        }
    }
}

//    services end